@{
    ViewData["Title"] = "IndexEdit";
    Layout = "_Layout";
}
    <div id="header">
        <div class="logo"><a href="#">Edit Mode</a></div>
    </div>

    <a class="mobile" href="#">MENU</a>

    <div id="container">
        <div class="sidebar">
            <ul id="nav">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Booter Hub</a></li>
                <li><a href="#">Stresser</a></li>
                <li><a href="#">Friends</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Purchase</a></li>
            </ul>
        </div>
        <div class="content">

            <div id="box">
                <div class="box-top">
                    News
                </div>
                <div class="box-panel">
                    This is some simple news lallalal
                </div>
            </div>

            <div id="box">
                <div class="box-top">
                    News
                </div>
                <div class="box-panel">
                    This is some simple news lallalal
                </div>
            </div>

            <div id="box">
                <div class="box-top">
                    News
                </div>
                <div class="box-panel">
                    This is some simple news lallalal
                </div>
            </div>


        </div>
    </div>
