

<div class="row">
    <div class="boxes">
        <article class="col-xs-3 panel">
            <section class="panel-img-container">
                <img src="~/images/house_icon.png" alt="House" class="panel-img" />
            </section>
            <section>
                <p class="quicksand-light-32 panel-heading">Overnight Shelter</p>
            </section>
            <section>
                <p class="mont-light-light-18 panel-summary">Located in the heart of downtown Ogden, Utah, Youth Futures provides emergency shelter, temporary residence and supportive services for runaway, homeless, unaccompanied and at-risk youth ages 12-17. The shelter is open 24 hours per day.</p>
            </section>
            <section class="panel-footer">
                <p class="quicksand-light-24-green"><a href="#">Learn more ></a></p>
            </section>
        </article>
        <article class="col-xs-3 panel">
            <section class="panel-img-container">
                <img src="~/images/door_icon.png" alt="Door" class="panel-img" />
            </section>
            <section>
                <p class="quicksand-light-32 panel-heading">Drop-in Services</p>
            </section>
            <section>
                <p class="mont-light-light-18 panel-summary">Available to any youth ages 12-18. Drop-in services allow for the youth to access food, clothing, hygiene items, laundry facilities, computer stations, and case management. Drop-in hours are 6:30 am to 8:00 pm every day of the week.</p>
            </section>
            <section class="panel-footer">
                <p class="quicksand-light-24-green"><a href="#">Learn more ></a></p>
            </section>
        </article>
        <article class="col-xs-3 panel">
            <section class="panel-img-container">
                <img src="~/images/van_icon.png" alt="Van" class="panel-img van-img" />
            </section>
            <section>
                <p class="quicksand-light-32 panel-heading">Street Outreach</p>
            </section>
            <section>
                <p class="mont-light-light-18 panel-summary">Youth Futures’ Street Outreach is conducted once per week and provides outreach and crisis services to youth in Ogden City, Utah.</p>
            </section>
            <section class="panel-footer">
                <p class="quicksand-light-24-green"><a href="#">Learn more ></a></p>
            </section>
        </article>
    </div>
</div>