
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/css/main.css" />
<div style="display:none" id="sidebar" class="col-md-1">
    <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>

    <div class="sub-text-box row">
        <p class="sub-text col-xs-12">14 WARM BEDS. YOUTH 12-17. YOUR TEMPORARY HOME <span class="quicksand-dark-38-lightgreen">:) </span></p>
    </div>
</div>