
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/css/main.css" />
<<<<<<< HEAD
<div style="display:none" id="sidebar" class="col-md-1">
=======
<div style="display:none" id="sidebar">
>>>>>>> parent of 2d63b13... Refining Sidebar
    <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>

    <div class="sub-text-box row">
        <p class="sub-text col-xs-12">14 WARM BEDS. YOUTH 12-17. YOUR TEMPORARY HOME <span class="quicksand-dark-38-lightgreen">:) </span></p>
    </div>
<<<<<<< HEAD
=======
    <textarea>
>>>>>>> parent of 2d63b13... Refining Sidebar

    <h4>Services</h4>
    <p>Our programming is divided into three main areas. Each program area has specific components to meet the needs of the youth in need.</p>
        <p>Overnight Shelter</p>
        <p>Located in the heart of downtown Ogden, Utah, Youth Futures provides emergency shelter, temporary residence and supportive services for runaway, homeless, unaccompanied and at-risk youth ages 12-17. The shelter is open 24 hours per day.</p>
    <section>
        <p><a href="#">Learn more ></a></p>
    </section>
    <h4>Services</h4>
    <p>Our programming is divided into three main areas. Each program area has specific components to meet the needs of the youth in need.</p>
    <p>Overnight Shelter</p>
    <p>Located in the heart of downtown Ogden, Utah, Youth Futures provides emergency shelter, temporary residence and supportive services for runaway, homeless, unaccompanied and at-risk youth ages 12-17. The shelter is open 24 hours per day.</p>
    <section>
        <p><a href="#">Learn more ></a></p>
    </section>
    <h4>Services</h4>
    <p>Our programming is divided into three main areas. Each program area has specific components to meet the needs of the youth in need.</p>
    <p>Overnight Shelter</p>
    <p>Located in the heart of downtown Ogden, Utah, Youth Futures provides emergency shelter, temporary residence and supportive services for runaway, homeless, unaccompanied and at-risk youth ages 12-17. The shelter is open 24 hours per day.</p>
    <section>
        <p><a href="#">Learn more ></a></p>
    </section>
    <h4>Services</h4>
    <p>Our programming is divided into three main areas. Each program area has specific components to meet the needs of the youth in need.</p>
    <p>Overnight Shelter</p>
    <p>Located in the heart of downtown Ogden, Utah, Youth Futures provides emergency shelter, temporary residence and supportive services for runaway, homeless, unaccompanied and at-risk youth ages 12-17. The shelter is open 24 hours per day.</p>
    <section>
        <p><a href="#">Learn more ></a></p>
    </section>
</div>