<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Registration-20171003014024.mdf;Initial Catalog=aspnet-Registration-20171003014024;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="CMSDBDataContex" connectionString="data source=DESKTOP-710AMA4\SQLEXPRESS;initial catalog=YFHS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>